
/* Código de css para intentar encajar el cv en una unica pagina al imprimirse. */
@media print {

    body * {
        visibility: hidden;
    }

    main, main * {
        visibility: visible;
    }

    main {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    body {
        font-size: 11px;
    }


    img {
        max-width: 120px !important;
        height: auto !important;
    }

    @page {
        size: A4;
        margin: 8mm;
    }
}
